# auth-service .env.example
PORT=3000
MONGO_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/edviron_auth?retryWrites=true&w=majority

# JWT configuration (HS or RS)
JWT_ALGORITHM=HS256
JWT_SECRET=super-test-secret-please-change

# If using RS256:
# JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
# JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"

ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

JWT_ISSUER=edviron-auth
JWT_AUDIENCE=edviron-services
BCRYPT_SALT_ROUNDS=10
